<div class="face-snap-card" [ngClass]="{snapped:txtSnap === 'Oops, unspap !'}">

	<h2>{{ faceSnap.title | titlecase }}</h2>
	<p> Mis en ligne {{ faceSnap.createdDate | date: 'le dd MMMM yyyy, à HH:mm' }} </p>

	<img [src]="faceSnap.imageUrl" [alt]=" faceSnap.title ">

	<p>{{ faceSnap.description }}</p>
	<p *ngIf="faceSnap.location "> Photo prise à {{faceSnap.location}} </p>
	<p>
		<button (click)="onSnap()"> {{ txtSnap }}</button>
		<span [ngStyle]="{color: 'rgb(0,' + faceSnap.snaps + ',0)'}">👺 {{faceSnap.snaps}}</span>
	</p>
	<p>{{ 344.36 | currency: 'EUR' : 'code' }}</p> <!--Juste pour s'amuser avec les pipe de formatage de nombre-->
</div>